<h3>This is http://localhost:3000/logs/1/entries </h3>
<h1>Entries</h1>

<table>
<!-- tr defines a row in an html table -->
	<tr>
		<!-- th is a header cell -->
		<th>Date</th>
		<th>Food</th>
		<th>Mood</th>
	</tr>

	<% @entries.each do |entry| %>
	<tr>
		<!-- td is a data cell -->
		<td><%= entry.date %></td>
		<td><%= entry.food %></td>
		<td><%= entry.mood %></td>
		<td><%= image_tag entry.avatar.url(:thumb) %></td>

		<td><%= link_to 'Show', entry_path(entry) %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry_path(entry),
        	method: :delete,
      		data: {confirm: 'Are you sure?'} %>
      	</td>
	</tr>
	<% end %>
</table>

<%= link_to "Home", controller: "site" %> |
<%= link_to "Entries", controller: "entries" %> |
<%= link_to "Users", controller: "users" %> |
 <%= link_to 'Edit account', edit_user_registration_path %> |
  <%= link_to 'Sign in', sign_up_path %> |
<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>

