

<p>
	<strong>Date:</strong>
	<%= @entry.date %>
</p>

<p>
	<strong>Entry:</strong>
	<%= @entry.food %>
</p>

<p>
	<strong>Mood:</strong>
	<%= @entry.mood %>
</p>


<p>
	<strong>Image:</strong>
	<%= image_tag @entry.avatar.url(:thumb) %>
</p>

<%= link_to "Back", user_log_path(current_user, @entry.log) %>

<!-- "Back to Log #{@entry.log.id}" -->