<p>report</p>

<%= @food["food"]["name"] %> <br>

<%= @food["food"]["nutrients"][1]["name"] %>
<%= @food["food"]["nutrients"][1]["measures"][0]["value"] %>
<%= @food["food"]["nutrients"][1]["unit"] %> <br>

<%= @food["food"]["nutrients"][2]["name"] %>
<%= @food["food"]["nutrients"][2]["measures"][0]["value"] %>
<%= @food["food"]["nutrients"][2]["unit"] %> <br>

<%= @food["food"]["nutrients"][3]["name"] %>
<%= @food["food"]["nutrients"][3]["measures"][0]["value"] %>
<%= @food["food"]["nutrients"][3]["unit"] %> <br>

<%= @food["food"]["nutrients"][4]["name"] %>
<%= @food["food"]["nutrients"][4]["measures"][0]["value"] %>
<%= @food["food"]["nutrients"][4]["unit"] %>


