<div class ="container">
    <div class = "navbar navbar-default navbar-fixed-top">
      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">  
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <div class = "collapse navbar-collapse navHeaderCollapse">
        <ul class = "nav navbar-nav navbar-left">
  <%if (current_user)  %>
        <li class = "Logs"> <%= link_to 'Logs', user_logs_path(current_user) %> </li>
        <li class = "SignOut"><%= link_to 'Sign out', destroy_user_session_path %> </li>
  <%else  %>
                <li class="SignUp"><%= link_to 'Sign up', new_user_registration_path  %></li>
  <% end  %>
          <li class="About"><a href="/about">About</a></li> 
          <li class="Index"><%=link_to"Index", root_path  %></li>
          <li class= "contact"><a href="/contact">Contact</a></li>  
        </ul>
      </div>
    </div>
  </div>
<div class= "container">
    <div class="jumbotron_login">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
</div>
