this is app/views/users/index.html.erb

<h1>Welcome, <%= @user.email %></h1>


<!-- to make it easier for us to navigate here until we get a navbar -->
<%= link_to "Home", controller: "site" %> |
<%= link_to "Entries", controller: "entries" %> |
<%= link_to "Users", controller: "users" %> |
 <%= link_to 'Edit account', edit_user_registration_path %> |
  <%= link_to 'Sign in', sign_up_path %> |
<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>

