<%=render 'form'  %>
<div class="container">
	<div class="jumbotron_log">
<h1>Nutrition Log Entries</h1>

<!-- to view for new entry for the log that belongs to user -->
<%= link_to "New Entry", new_user_log_entry_path(current_user, @log) %>

<table>
<!-- tr defines a row in an html table -->
	<tr>
		<!-- th is a header cell -->
		<th>Date</th>
		<!-- <th>Food</th>
		<th>Mood</th> -->
	</tr>
	<!-- function begins, looping through by entry -->
	<% @log.entries.each do |entry| %>
	<tr>
		<!-- td is a data cell -->
		<td><%= entry.date %></td>
		<!-- <td><%= entry.food %></td>
		<td><%= entry.mood %></td>
		<td><%= image_tag entry.avatar.url(:thumb) %></td> -->


		<td><%= link_to 'Show', user_log_entry_path(current_user, @log, entry) %></td>
        <td><%= link_to 'Edit', edit_user_log_entry_path(current_user, @log, entry) %></td>
        <td><%= link_to 'Destroy', user_log_entry_path(current_user, @log, entry),
        	method: :delete,
      		data: {confirm: 'Are you sure?'} %>
      	</td>

	</tr>
	<!-- function ends -->
	<% end %>
</table>
</div>
</div>
<%= link_to 'Back', user_logs_path(current_user) %>


<%= line_chart User.group_by_day(:created_at).count %>
<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Mood By Day</h3>
    <%= line_chart Entry.all.group_by(&:date) %>
  </div>

</div>

