<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>FoodApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Marck+Script|Alex+Brush|Shadows+Into+Light|Gloria+Hallelujah|Great+Vibes|Indie+Flower|Pinyon+Script|Fanwood+Text' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="home_image">
		<img src="http://www.projecthappyhearts.com/wp-content/uploads/2015/04/green-nature-dual-monitor-other.jpg">
	</div>
	<% if notice %>
	  	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

<%= yield %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
